body {
  margin: 0!important;
  overflow: scroll;
}

.dragme, .dragme-contained, .dragme-lookalike {
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  z-index: 30;
}

.gets-dragged {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #af0;
}

#dragMeContainer {
  border: 1px solid #f00;
  height: 300px;
  width: 300px;
  z-index: 100;
  margin: 15px;
}

#dropMe {
  position: relative;
  width: 200px;
  height: 200px;
  border: 1px solid #a0a;
  margin: 15px;
  margin-left: 200px;
}

.sortable, .sortable li {
  position: relative;
  width: 300px;
}

ul {
  width: 50px;
}

.ds-selected {
  background-color: #c0a;
}

.ds-drop {
  background-color: #a4a;
}

.ds-drop-hover {
  background-color: #ccc;
}